@font-face {
	font-family: roboto-black;
	src: url(../assets/fonts/Roboto/Roboto-Black.ttf) format("truetype");
}

@font-face {
	font-family: roboto-black-italic;
	src: url(../assets/fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype");
}

@font-face {
	font-family: roboto-bold;
	src: url(../assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
	font-family: roboto-bold-italic;
	src: url(../assets/fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
}

@font-face {
	font-family: roboto-italic;
	src: url(../assets/fonts/Roboto/Roboto-Italic.ttf) format("truetype");
}

@font-face {
	font-family: roboto-light;
	src: url(../assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
	font-family: roboto-light-italic;
	src: url(../assets/fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
	font-family: roboto-medium;
	src: url(../assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
	font-family: roboto-medium-italic;
	src: url(../assets/fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
}

@font-face {
	font-family: roboto-thin;
	src: url(../assets/fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
	font-family: roboto-thin-italic;
	src: url(../assets/fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype");
}